<%= form_for :forward, :html=> {:class => 'form-horizontal', :role => 'form'}, url: contents_forward_path do |f| %>
  <%= f.hidden_field :source_id, :value => content.id %>
  <!-- forward.hidden_field format chaos -->
  <div class="col-sm-12">
    <div class="input-group">
      <%= f.text_field :text, class: "form-control", placeholder: "Add a forward..." %>
      <span class="input-group-btn">
        <button class="btn btn-default">
          <i class="glyphicon glyphicon-share"></i>
        </button>        
      </span>
    </div>
  </div>
<% end %>
