<%= form_for :comment, :html => {:class => 'form-horizontal', :role => 'form'}, url: comments_path do |c| %>
  <!--form accept-charset="utf-8" action="/comments" enctype="multipart/form-data" method="post" /-->
  <%= c.hidden_field :user_id, :value =>  user.id %>
  <%= c.hidden_field :content_id, :value => content.id %>
  <div class="col-sm-12">
    <div class="input-group">
      <%= c.text_field :text, class: "form-control", placeholder: "Add a comment..."  %>
      <span class="input-group-btn">
        <button class="btn btn-default">
          <i class="glyphicon glyphicon-comment"></i>
        </button>
      </span>
    </div>
  </div>
<% end %>
