<div class="col-md-5">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <% if title.nil? %>%>
      <% else  %>
        <%# TODO undefined local variable or method #%>
        <%= title %>
      <% end  %>
    </div>
    <div class="panel-body">
      <%= yield %>
    </div>
  </div>
</div>
