<div class="media">
  <a class="thumbnail pull-left" href="#">
    <%= image_tag @user.portrait_uri.url, size: "80x80" %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <%= @user.username %>
    </h4>
    <p>
      <% @packets = Attachpacket.where(user_id: "#{@user.id}").select("id") %>
      <% if @packets.nil? %>
        <span class="label label-primary">0 photos</span>
      <% else %>
        <% @attach_count = Attachment.where("attach_packet_id in (?)", @packets.ids).count %>
        <%= link_to "#@attach_count photos", attachments_show_by_user_path(:user_id=> @user.id), class: "label label-primary" %>
      <% end %>
      
      <% @followers_count = UserRelation.where(firend_id: "#{@user.id}").count %>
      <%= link_to "#@followers_count followers", users_followers_path, class: "label label-primary"  %>
    </p>
    <p>
      <a class="btn btn-xs btn-default" href="#">
        <span class="glyphicon glyphicon-comment">
        </span>Message
      </a>
      <a class="btn btn-xs btn-default" href="#">
        <span class="glyphicon glyphicon-heart">
        </span>Favorite
      </a>
    </p>
  </div>
</div>
