<div id="main">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="pull-right" href="#">
          </a>
        </div>
        <div class="well well-sm">
          <%= render "users/user_profile" %>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="well">
        <%= render "contents/content_post_sf" %>
      </div>
    </div>
  </div>
  <div class="row">
    <%= render partial: "contents/content_timeline" %>
  </div>
</div>
