<form class="navbar-form pull-left">
</form>
<ul class="nav navbar-nav navbar-right">
  <li><a href="http://github.com" target="_ext">Github</a> </li>
  <li>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="glyphicon glyphicon-bell"></i>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#"><span class="badge pull-right">40</span>Link</a></li>
      <li><a href="#"><span class="badge pull-right">2</span></a>Link</li>
      <li><a href="#"><span class="badge pull-right">0</span></a>Link</li>
      <li><a href="#"><span class="label label-info pull-right">1</span>Link</a></li>
      <li><a href="#"><span class="badge pull-right">13</span>Link</a></li>
    </ul>
  </li>
  <li><a href="#" id="btnToggle"><i class="glyphicon glyphicon-th-large"></i></a></li>
  <li>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="glyphicon glyphicon-user"></i>
    </a>
    <ul class="dropdown-menu" >
      <li><%= link_to "Exit", users_logout_path %></li>
    </ul>
  </li>
</ul>

